#menu1, #menu2 {
    font-family: arial;
    background-color: #999999;
    width: 300px;
    height: auto;
}

#menu1 {
    float: left;
}

#menu2 {    
    float: right;

}

.title1, .title2 {
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #FFA500;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.title2 {
    text-decoration: overline;
}

.list-item {
    margin-bottom: 0;
}

.list-item li{
    height: 30px;
    line-height: 30px;
}

.list-item a {
    text-decoration: none;
    color: #333333
}

.blog a{
    color: yellow !important;
}